apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: registry.redhat.io/rhel8/postgresql-13
        env:
        - name: POSTGRESQL_DATABASE
          value: flaskdb
        - name: POSTGRESQL_USER
          value: flaskuser
        - name: POSTGRESQL_PASSWORD
          value: flaskpass
        ports:
        - containerPort: 5432
