apiVersion: v1
kind: Pod
metadata:
  name: pod-soft-affinity
spec:
  affinity:
    podAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: app
              operator: In
              values:
              - anchor
          topologyKey: kubernetes.io/hostname
  containers:
  - name: nginx
    image: nginx